.grid-head{ 
  grid-area: header; 
  border-top: 5px solid #3F5765;
    border-bottom: 5px solid #3F5765;
  padding-bottom: 5px;
    background-color: rgba(250, 250, 250, 0.9);
}
.grid-menu { 
  grid-area: menu; 
  display: inline-block;
  max-width: 700px;
  border: 5px solid #BDD4DE;
  background-color: rgba(250, 250, 250, 0.9);
}
.grid-we { 
  grid-area: we; 
  display: inline-block;
  border: 5px solid #BDD4DE;
    background-color: rgba(250, 250, 250, 0.9);
}
.grid-edu { 
  grid-area: edu; 
  display: grid;
  border: 5px solid #BDD4DE;
  background-color: rgba(250, 250, 250, 0.9);
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-edu-content{
  grid-column: 1 / 4;
  grid-row: 1;
}

.grid-firstyr{
 grid-column: 1;
 grid-row: 2;
 background-color: #fff;
 text-align: center;
}
.grid-secondyr{
 grid-column: 2;
 grid-row: 2;
 background-color: #fff;
 text-align: center;
}
.grid-thirdyr{
 grid-column: 3;
 grid-row: 2;
 background-color: #fff;
 text-align: center;
}

.grid-foot { 
  grid-area: footer;
  border: 5px solid #BDD4DE;
  background-color: rgba(250, 250, 250, 0.9);
}

.grid-container {
  display: grid;
  grid-template-areas:

    'we we we we we menu'
    'edu edu edu edu edu blank'
    'footer footer footer footer footer blank';
  grid-gap: 15px;
  padding: 15px;
  background-color: #BDD4DE;
  justify-content: center;
}
.grid-black{
grid-area: blank;
background-color: #BDD4DE;
display: inline-block;
}

.wrapper{
padding: 1em 2em 2em 2em;
  display: grid;
   background-color: #BDD4DE;
}

@media only screen and (min-width: 1400px){
.wrapper{
padding: 1em 4em 2em 4em;

}

}

/* small screens */
@media only screen and (max-width: 700px)   {
 .grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'menu'
     'we'
     'edu'
     'footer';
  grid-gap: 10px;
  padding: 5px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  }
 .wrapper{
padding: 1em;
 } 
}
/* extra small screens */
@media only screen and (max-width: 330px)   {
 .grid-container {
    display: grid;
    grid-template-areas:
     'header'
     'menu'
     'we'
     'edu'
     'footer';
  grid-gap: 10px;
  }
  .grid-container > div {
max-width: 93%;

  }
  img{
max-width: 85%;

  }
}

.grid-container > div {
  font-family: 'Lato', Sans-Serif;
  padding: 10px;


}
.grid-blank > div{
background-color: #BDD4DE;

}
.grid-we > div {
padding-left: 10px;
}

.grid-edu > div {
padding-left: 10px;	
}

.fas, .fab{
 font-size: 1.5em;
 color: #2B3A42;
 text-align: left;
 padding-right: 10px;
}
.fa-calendar-alt{
color: #FF530D;

}
h1{
font-family: 'Raleway', Sans-Serif;
color: #FF530D;
text-align: center;
font-weight: bold;
}

h2{
font-family: 'Raleway', Sans-Serif;
  color: #3F5765;
text-align: center;
font-weight: bold;
font-size: 5em;
}

h4{
   font-family: 'Lato', Sans-Serif;
  font-size: 3em;
  color: #FF530D;
}

h3{
  font-family: 'Lato', Sans-Serif;
  font-size: 1em;
  font-weight: lighter;
  color: #FF530D;
  padding-left: 5px;
}

.deets{
  font-family: 'Lato', Sans-Serif;
  font-size: 1em;
  font-weight: lighter;
  color: #FF530D;
  text-align: center;

}

.title{
font-family: 'Raleway', Sans-Serif;
color: #3F5765;
text-align: center;
font-weight: bold;

}

hr{
width: 80%;
margin-top: 20px;
border-color: #BDD4DE;

}

.skill-list{
padding: 15px 0px 8px 25px;
text-align: left;

}

.prof {
text-align: center;
width: 60%;
}

.link{
 color: #FF530D;
text-decoration: none;
}



nav{
 color: #3F5765;
 font-family: 'Raleway', Sans-Serif;
 font-size: 1.2em;
 text-align: center;
 cursor: hand;
 padding: 2px 5px 0px 5px;
}
nav > a:link {
 color: #3F5765;
  padding: 2px 10px 0px 10px;
}

nav > a:visited {
 color: #3F5765;
}
nav > a:hover {
 color: #FF530D;
}
nav > a:active {
 color: #3F5765;
}

li{
padding: 5px;  

}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.9);
    z-index: 2;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-top: 5px solid #BDD4DE;
    border-bottom: 5px solid #BDD4DE;
    color: #FF530D;
}
